<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Shots by PageLever</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <%- stylesheet_include('bootstrap.min') %>
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>
    
    <!-- Include your application's stylesheets here -->

    <!--[if lt IE 9]>
      <%- javascript_include('http://html5shim.googlecode.com/svn/trunk/html5.js') %>
    <![endif]-->

    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/apple-touch-icon-57-precomposed.png">
  </head>

  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">Shots</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li<%- request.parsed.pathname === '/users' ? ' class="active"' : '' %>>
                <a href="/users">Users</a>
              </li>
              <li<%- request.parsed.pathname === '/shots' ? ' class="active"' : '' %>>
                <a href="/shots">Shots</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <% Object.keys(flash).forEach(function(type) { %>
        <div class="alert alert-<%= type %>">
          <strong><%= type[0].toUpperCase() + type.slice(1) %>:</strong> <%- flash[type] %>
        </div>
      <% }) %>
      
      <%- yield() %>

      <hr>

      <footer>
        <p>&copy; PageLever 2012</p>
      </footer>
    </div>

    <%- javascript_include('bootstrap.min') %>
  </body>
</html>
